body {
  margin: 0;
  background: #f8f8f8;
  display: flex;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #007bff;
  cursor: pointer;
  transition: background-color 0.25s, border-color 0.25s;
  color: white;
}
button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  border: 1px solid #ddd;
  gap: 1px;
  background-color: #fff;
  border-radius: 8px;
  overflow: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li {
  background-color: #f9f9f9;
  padding: 8px;
  transition: background-color 0.3s;
}

li:hover {
  background-color: #e9ecef;
}

a {
  font-weight: 800;
  text-decoration: none;
  color: #007bff;
}
a:hover {
  color: #0056b3;
}